* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}
main {
  position: relative;
}
/* header {
  height: 70px;
} */
section {
  /* position: absolute; */
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.container {
  width: 90%;
  margin: auto;
}

.form-section {
  opacity: 1;

  transition: all 0.6s ease-in-out;
  z-index: 2;
}
.form-wrapper h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.form-wrapper {
  /* position: relative; */
  width: 70%;
  margin: 30px auto;
  background: #fff;
  padding: 50px 80px;
}
.d-block {
  display: block;
  margin-top: 10px;
  font-size: 20px;
}

.b-input,
select {
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid rebeccapurple;
}
input:focus {
  outline: none;
}
.b-input::placeholder,
.b-input {
  font-size: 20px;
}

.icon-wrapper {
  position: relative;
}
i {
  position: absolute;
  font-size: 30px;
  color: rebeccapurple;
  right: 10px;
  cursor: pointer;
}
.form-wrapper button {
  margin-top: 10px;
  border: 1px solid rebeccapurple;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.form-wrapper button:hover {
  transform: translateX(20px);
  background-color: rebeccapurple;
  color: white;
}

.display-section {
  /* z-index: 4; */
  transition: all 0.6s ease-in-out;
  opacity: 0;
}
.display-section h2 {
  /* text-align: center; */
  font-size: 40px;
  margin-bottom: 20px;
}
.display-section p {
  font-size: 20px;
}
.display-section p:first-child {
  margin-bottom: 6px;
  font-weight: bold;
}
.display-section p:last-child {
  font-style: italic;
}
.display-section .container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.content-wrapper {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: #fff;
  border-radius: 30px;
  margin: auto;
  padding: 20px 30px;
}
.text-wrapper {
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 2px solid rebeccapurple;
}
.gender div,
.hobbies div {
  margin-bottom: 5px;
}
.error {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
.error-border {
  border-color: red;
}
/* .form-group div {
  display: inline-block;
} */
@media (max-width: 770px) {
  .form-wrapper {
    padding: 20px 30px;
  }
}
@media (max-width: 500px) {
  .form-wrapper {
    width: 100%;
  }
}
